body {
  font-family: "Avenir Next","Helvetica Neue",Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
a {
  color: #047eff;
}
a.unlink {
  color: inherit;
}
.linkify {
  text-decoration: underline !important;
  cursor: pointer;
}
.text-primary {
  color: #034c9a !important;
}

/* backgrounds */
.bg-grey {
  background-color: #f6f7fa;
}
.bg-slate {
  background-color: rgba(15, 19, 25, 1);
  color: #fff;
}

/* buttons */
.btn {
  border-radius: 8px;
  padding: 5px 15px;
}
.btn:hover {
  cursor: pointer;
}
.btn-lg {
  padding: 10px 30px;
}
.btn.btn-white {
  background: #fff;
}
.btn.btn-blue {
  background-color: rgba(87,163,255,0.8);
  color: #fff;
}
.btn.btn-blue:hover {
  background-color: rgba(87,163,255,0.9);
}
.btn-grey {
  background-color: rgba(60,60,60,0.1);
}
.btn-grey:hover {
  background-color: rgba(60,60,60,0.15);
}
.btn-default {
  background-color: rgba(3,76,154,0.84);
  color: #fff;
}
.btn-default:hover {
  background-color: rgba(3,76,154,0.94);
  color: #fff;
}

.badge-primary {
  background-color: rgba(3,76,154,0.94);
}

/* misc for headers and containers */
.header {
  width: 100%;
  color: #fff;
  margin-bottom: -2px;
}
.header h1 a {
  text-decoration: none !important;
  color: #ffffff !important;
}
.container.medium-padding {
  padding: 30px 15px;
}
.container.big-padding {
  padding: 60px 15px;
}
.border-bottom-dark {
  border-bottom: 5px solid rgba(0,0,0,0.6);
}
.footer a {
  color: #0e6ace !important;
}

/* ip form */
.ip-form input, .ip-form button {
  vertical-align: middle;
  outline: none;
  cursor: pointer;
}
.ip-form input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  padding: 10px 20px;
  width: 280px;
  max-width: calc(100% - 110px);
  background-color: rgba(17, 86, 160, 0.7);
  color: rgba(255,255,255,0.9);
}
.ip-form input::placeholder {
  color: rgba(255,255,255,0.5);
}
.ip-form button {
  height: 44px;
  margin-left:-5px;
  border-radius: 0;
  color: rgba(41,41,41,1);
  border-color: #ffffff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ip-form ul.errorlist {
  margin: 10px 0;
  padding: 0;
}
.ip-form ul.errorlist li {
  list-style: none;
}

#tool-icons * {
  padding: 10px;
}

#recent-queries a > span:nth-child(1){
  color: #1e50a0;
}

/* styles for small screens */
@media only screen and (max-width: 670px) {
 /* add if needed */
}
