{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}IP Finder{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'ipapp/css/styles.css' %}">

    <link rel="icon" type="image/png" href="{% static 'ipapp/img/favicon-16x16.png' %}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static 'ipapp/img/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'ipapp/img/favicon-128x128.png' %}" sizes="128x128">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    {% block meta %}
      <meta name="title" content="IP Tool">
      <meta name="description" content="A tool to get information about an IP, such as location, weather, and news">
    {% endblock %}
  </head>
  <body>
    <div class="header bg-slate text-center">
      <div class="container medium-padding">
        <div class="row">
          <div class="col-12">
            <h1 class="mb-0 font-weight-bold text-uppercase">IP Finder</h1>
          </div>
        </div>
      </div>
    </div>
    <div id="main-content">
      {% block content %}{% endblock %}
    </div>
    <div class="footer bg-slate">
      <div class="container medium-padding text-center">
        <p class="mt-4 text-muted">
          Proudly built with <i class="fab fa-python"></i> <a href="https://www.python.org/" target="_blank">Python</a>
          and <a href="https://www.djangoproject.com/" target="_blank">Django</a>
        </p>
        <p class="text-muted">Copright &copy; {% now "Y" %} <span class="text-uppercase">IP Finder</span></p>
      </div>
    </div>
  </body>
</html>
