{% extends "ipapp/base.html" %}
{% load date_tags location_tags tz %}

{% block content %}
<div class="bg-slate border-bottom-dark" id="top">
  <div class="container medium-padding">
    <div class="row mb-4">
      <div class="col-12 text-center">
        <div class="ip-form">
          <form class="form" action="" method="post">{% csrf_token %}
            <input type="text" name="ip" placeholder="Enter a single IP address" value="{{ ip_address }}">
            <button class="btn btn-square btn-white"><i class="fas fa-search"></i></button>
            <span class="text-danger">{{ form.ip.errors }}</span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% if data %}
  <div class="bg-white">
    <div class="container big-padding" id="location-info">
      <h2 class="text-center mb-3">Local information for {{ data.ip_address }}</h2>
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-12">
              {% if data.location %}
                {% if data.location.city and data.location.country_name %}
                  <h3 class="mb-2"><a href="{{ maps_link }}" target="_blank">{{ data.location|location_string }}</a></h3>
                {% elif data.location.country_name %}
                  <h3 class="mb-2"><a href="{{ maps_link }}" target="_blank">{{ data.location.country_name }}</a></h3>
                  <p class="mb-0"><label>Province:</label> {{ data.location.region_name }}</p>
                {% else %}
                  <h3 class="mb-2"><label>Country:</label> {{ data.country_code }}</h3>
                  <p class="mb-0"><label>Province:</label> {{ data.province }}</p>
                {% endif %}
                <p class="mb-0"><label>Latitude:</label> {{ data.location.latitude }}</p>
                <p class="mb-0"><label>Longitude:</label> {{ data.location.longitude }}</p>
                {% if data.location.zip_code %}
                  <p class="mb-0"><label>Postal/Zip Code:</label> {{ data.location.zip_code }}</p>
                {% endif %}
                <p><label>Time Zone:</label> {{ data.location.time_zone }}</p>
                <iframe
                  width="100%"
                  height="300"
                  frameborder="0" style="border:0;padding-right:10px;"
                  src="https://www.google.com/maps/embed/v1/place?key={{ maps_api_key }}
                    &q={{ data.location|location_string }}" allowfullscreen>
                </iframe>
              {% endif %}

              {% if data.weather %}
                {% timezone "America/Toronto" %}
                  {% if data.location.city %}
                    <h3 class="mt-5">Weather for {{data.location.city }}</h3>
                  {% else %}
                    <h3 class="mt-5">Weather</h3>
                  {% endif %}
                  <p class="mb-1">Currently {{ data.weather.main.temp }} &deg;{{ data.weather.symbol }}
                    <span class="float-right"><img src="https://openweathermap.org/img/w/{{ data.weather.weather.0.icon }}.png"></span>
                  </p>
                  <p class="mb-3">{{ data.weather.weather.0.description|title }}</p>
                  <p class="mb-0"><label>Today's High:</label> {{ data.weather.main.temp_max }} &deg;{{ data.weather.symbol }}</p>
                  <p class="mb-0"><label>Today's Low:</label> {{ data.weather.main.temp_min }} &deg;{{ data.weather.symbol }}</p>
                  <p class="mb-0"><label>Humidity:</label> {{ data.weather.main.humidity }} %</p>
                  <p class="mb-0"><label>Sunrise:</label> {{ data.weather.sys.sunrise|utc_unix_string }}</p>
                  <p class="mb-0"><label>Sunset:</label> {{ data.weather.sys.sunset|utc_unix_string }}</p>

                  <p class="mt-4">Full Weather Details at <a href="{{ weather_link }}" target="_blank">theweathernetwork.com</a></p>
                {% endtimezone %}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-6">
          <h3>Latest News</h3>
          {% if data.news.articles %}
            {% timezone "America/Toronto" %}
              {% for article in data.news.articles.results %}
                <div class="card mb-3">
                  <div class="card-body">
                    <p class="font-weight-bold mb-2"><a href="{{ article.url }}">{{ article.title }}</a></p>
                    <p class="small mb-3">{{ article.dateTime|date_string:"%Y-%m-%dT%H:%M:%S"|date:"M. j, Y g A T" }}</p>
                    <p class="mb-3">{{ article.body|truncatechars:140 }}</p>
                    <p class="mb-0 text-secondary">Source: <a href="{{ article.url }}" class="text-secondary linkify" target="_blank">{{ article.source.uri }}</a></p>
                  </div>
                </div>
              {% endfor %}
            {% endtimezone %}
          {% endif %}
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-6">
          <p class="mb-3 text-muted">Shareable link for <a href="{% url 'home' %}?ip={{ data.ip_address }}">{{ data.ip_address }}</a></p>
          {% if data.last_updated %}
            <p class="mb-0 text-muted">Cached data since: {{ data.last_updated|timezone:'America/Toronto' }}</p>
          {% endif %}
        </div>
        <div class="col-6 text-right">
          <span class="text-muted small">
            Location information provided by <a href="http://freegeoip.net" target="_blank">freegeoip.net</a>.<br>
            Weather information provided by <a href='http://openweathermap.org' target="_blank">openweathermap.org</a>.<br>
            News provided by <a href="http://eventregistry.org/" target="_blank">EventRegistry.org</a>.
          </span>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% if queries or not request.GET.ip %}
<div class="bg-grey">
  <div class="container big-padding">
    {% if data == None %}
      <div class="row text-center">
        <div class="col-12">
          {% if not queries %}<h2 class="font-weight-light">Try out the tool!</h2>{% endif %}
          <h5 class="font-weight-light mb-2">Enter an IP address and find out the location, weather, news, and more!</h5>
          <div class="text-center mt-2 fa-4x text-primary" id="tool-icons" >
            <i class="far fa-compass"></i>
            <i class="far fa-sun"></i>
            <i class="far fa-newspaper"></i>
          </div>
        </div>
      </div>
    {% endif %}
    {% if queries %}
      <div class="row" id="recent-queries">
        <div class="col-12 col-lg-6 offset-lg-3 text-center">
          <h3>Recent Queries</h3>
          <div class="list-group mt-4 text-left">
            {% for value in queries|dictsortreversed:'date'|slice:"10" %}
              <a href="/?ip={{ value.ip_address }}" class="list-group-item list-group-item-action">
                <span class="font-weight-bold">{{ value.ip_address }}</span>
                <span class="float-right font-weight-light text-muted">{{ value.city|default:value.country_code }}</span>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}
